@model Colaborador
@{
    Layout = "_Layout";
}

<a class="btn btn-success my-2" id="create-button" data-bs-toggle="modal" data-bs-target="#modal-global">Cadastrar</a>
<table id="table-colaboradores" class="table table-hover">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Nome)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Telefone)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                Categoria
            </td>
        </tr>
    </thead>
</table>





@section Scripts {
    <script>
        $(document).ready(function () {
            function setCloseEvents(table) {
                $('.close-table').click(function () {
                    console.log('ok')
                    table.draw()
                })
            }
            
            var table = $("#table-colaboradores").DataTable({
                // Design Assets
                language: ptBr,
                stateSave: true,
                autoWidth: true,
                // ServerSide Setups
                processing: true,
                serverSide: true,
                // Paging Setups
                paging: true,
                lengthMenu: [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
                pageLength: 10,
                pagingType: "full_numbers",

                dom: 'lBfrtip',
                // Searching Setups
                searching: { regex: true },
                // Ajax Filter
                ajax: {
                    url: '@Url.Action("LoadTable", "Colaborador")',
                    type: "POST",


                    data: function (d) {
                        return d;
                    }
                },
                // Columns Setups
                columns: [
                    { data: "id"},
                    { data: "nome" },
                    { data: "telefone" },
                    { data: "email"},
                    { data: "categoria", render: function (row, data, index) { return index.cargo.nome } },
                ]
                // Column Definitions
                , columnDefs: [

                ],
                createdRow: function (row, data, index) {
                    let tr = $(row)
                    tr.attr('data-id', data.id)
                    tr.addClass('table-row')
                    tr.addClass('clickable')
                    tr.attr('data-bs-toggle', 'modal')
                    tr.attr('data-bs-target', '#modal-global')
                    
                }

            });

            $('#table-colaboradores').on('draw.dt', function () {
                $('.table-row').click(function () {
                    let id = $(this).data('id')
                    loadModal(`/Colaborador/Edit/${id}`, arg => setCloseEvents(table))

                })
            });


            

            $('#create-button').click(function () {
                loadModal('/Colaborador/Create', arg=>setCloseEvents(table))
            })

            
            

        })

        

    </script>
}